@{
}
<h2>Product Categories</h2>
<div id="grid"></div>
<script>
    $(function () {
        var serviceUrl = "/api/categories";
        const dataSource = new kendo.data.DataSource({
            //type: "json",
            transport: {
                read: {
                    url: serviceUrl,
                    contentType: "application/json"
                },
                update: {
                    url: function (category) { return serviceUrl + "/" + category.categoryId },
                    type: "PUT",
                    contentType: "application/json"
                },
                destroy: {
                    url: function (category) { return serviceUrl + "/" + category.categoryId},
                    type: "DELETE",
                    contentType: "application/json"
                },
                create: {
                    url: serviceUrl,
                    type: "POST",
                    contentType: "application/json"
                },
                parameterMap: function (options, operation) {
                    return JSON.stringify(options);
                }
            },
            pageSize: 15,
            schema: {
                model: {
                    id: "categoryId",
                    fields: {
                        categoryId: { type: "number", editable: false },
                        categoryName: { editable: true, validation: { required: true } },
                        description: { editable: true },
                    }
                }
            }
        });


        $("#grid").kendoGrid({
            dataSource: dataSource,
            editable: "inline",
            toolbar: ["create"],
            columns: [
                {
                    field: "categoryName",
                    title: "Name",
                    filterable: false
                },
                {
                    field: "description",
                    title: "Description",
                    filterable: false
                },
                {
                    command: ["edit", "destroy"], title: "&nbsp;", width: "210px"
                }
            ],
            pageable: true
        });
    });
</script>

