@{
}
<h2>Rooms</h2>
<div id="grid"></div>
<script>
    $(function () {
        var serviceUrl = "/api/rooms";
        var dataSource = new kendo.data.DataSource({
            //type: "json",
            transport: {
                read: {
                    url: serviceUrl,
                    contentType: "application/json"
                },
                update: {
                    url: function (room) { return serviceUrl + "/" + room.roomId },
                    type: "PUT",
                    contentType: "application/json"
                },
                destroy: {
                    url: function (room) { return serviceUrl + "/" + room.roomId},
                    type: "DELETE",
                    contentType: "application/json"
                },
                create: {
                    url: serviceUrl,
                    type: "POST",
                    contentType: "application/json"
                },
                parameterMap: function (options, operation) {
                    return JSON.stringify(options);
                }
            },
            pageSize: 10,
            schema: {
                model: {
                    id: "roomId",
                    fields: {
                        roomId: { type: "number", editable: false },
                        client: {  },
                        name: { editable: true }
                    }
                }
            }
        });


        $("#grid").kendoGrid({
            dataSource: dataSource,
            editable: "inline",
            toolbar: ["create"],
            columns: [
                //{
                //    field: "roomId",
                //    filterable: false,
                //    editable: false,
                //    width: 50,
                //},
                {
                    field: "name",
                    title: "Name",
                    filterable: false
                },
                {
                    command: ["edit", "destroy"], title: "&nbsp;", width: "210px"
                }
            ],
            pageable: true
        });


    });
    //var clientDropDownEditor = $("#products").kendoDropDownList({
    //    dataTextField: "fullName",
    //    dataValueField: "clientId",
    //    dataSource: {
    //        transport: {
    //            read: {
    //                dataType: "json",
    //                url: "http://localhost:8888/api/clients",
    //            }
    //        }
    //    },
    //    filter: "contains"
    //});
</script>

