<div id="body">
    <h2>Surgery Room Appointments</h2>
    <div id="scheduler"></div>
</div>

<script>
    var roomServiceUrl = "/api/rooms";
    var roomDataSource = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: roomServiceUrl,
                contentType: "application/json"
            }
        },
        schema: {
            model: {
                id: "roomId",
                fields: {
                    roomId: { type: "number", editable: false },
                    name: {}
                }
            }
        }
    });


    var doctorsServiceUrl = "/api/doctors";
    var doctorsDataSource = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: doctorsServiceUrl,
                contentType: "application/json"
            }
        },
        schema: {
            model: {
                id: "doctorId",
                fields: {
                    doctorId: { type: "number", editable: false },
                    name: {}
                }
            }
        }
    });

    var surgeryRoomAppointmentsServiceUrl = "/api/surgeryroomappointments";
    var surgeryRoomAppointmentsDataSource = new kendo.data.SchedulerDataSource({
        type: "json",
        transport: {
            read: {
                url: surgeryRoomAppointmentsServiceUrl,
                contentType: "application/json"
            },
            update: {
                url: function(appt) { return surgeryRoomAppointmentsServiceUrl + "/" + appt.surgeryRoomAppointmentId },
                type: "PUT",
                contentType: "application/json"
            },
            create: {
                url: surgeryRoomAppointmentsServiceUrl,
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: function(appt) { return surgeryRoomAppointmentsServiceUrl + "/" + appt.surgeryRoomAppointmentId },
                type: "DELETE",
                contentType: "application/json"
            },
            parameterMap: function(options, operation) {
                return kendo.stringify(options);
            }
        },
        schema: {
            model: {
                id: "surgeryRoomAppointmentId",
                fields: {
                    surgeryRoomAppointmentId: { from: "surgeryRoomAppointmentId" },
                    title: { from: "title", defaultValue: "", validation: { required: true } },
                    start: { type: "date", from: "startDate" },
                    end: { type: "date", from: "endDate" },
                    doctorId: { from: "doctorId" },
                    roomId: { from: "roomId" },
                    //isConflict: { type: "boolean", from: "isPotentiallyConflicting" },
                }
            }
        },
        sync: function() {
            this.read();
        }
    });

    $(function() {

        $("#scheduler").kendoScheduler({
            startTime: new Date("2014/6/9 07:00"),
            endTime: new Date("2014/6/9 18:00"),
            height: 750,
            views: [
                { type: "day", selected: true, allDaySlot: false, minorTickCount: 4 },
                { type: "workWeek", allDaySlot: false, minorTickCount: 4 },
                "agenda"
            ],
            workWeekEnd: 6,
            timezone: "Etc/GMT-1",
            dataSource: surgeryRoomAppointmentsDataSource,
            footer: false,
            group: {
                resources: ["Rooms"]
            },
            messages: {
                editor: {
                    editorTitle: "Surgery Room Appointment"
                }
            },
            editable: {
                template: $("#editor").html()
            },
            resources: [
                {
                    field: "roomId",
                    dataTextField: "name",
                    dataValueField: "roomId",
                    dataSource: roomDataSource,
                    name: "Rooms",
                    title: "Room"
                },
                {
                    field: "doctorId",
                    dataTextField: "name",
                    dataValueField: "doctorId",
                    dataSource: doctorsDataSource,
                    name: "Doctors",
                    title: "Doctor",
                }
            ]
        });

    });

    function getDoctorResourceData(e) {
        getData(e, 1);
    }

    function getData(e, index) {
        var scheduler = $("#scheduler").data('kendoScheduler');
        var resourcesData = scheduler.resources[index].dataSource.view();
        e.success(resourcesData.toJSON());
    }

</script>

<script id="editor" type="text/x-kendo-template">
    # if(surgeryRoomAppointmentId) { #
    <h3>Edit Surgery Room Booking</h3>
    # } else { #
    <h3>Add Surgery Room Booking</h3>
    # } #

    <p>
        <label>Title: <input name="title" /></label>
    </p>
    <p>
        <label>Start: <input data-role="datetimepicker" name="start" /></label>
    </p>
    <p>
        <label>End: <input data-role="datetimepicker" name="end" /></label>
    </p>
    
    <p>
        <label for="doctorId">
            Doctor:
            <input id="doctorId" data-bind="value:doctorId" data-role="dropdownlist" name="doctorId"
                   data-value-field="doctorId" data-text-field="name"
                   data-source="{
                           transport: {
                             read: getDoctorResourceData}}" />
        </label>    
    </p>
</script>

